  input.form-control{
      color:black !important;
  }
  ::placeholder {
    opacity: 0.8 !important;
  }
  img#profileDisplay{
      cursor: pointer;
  }
  img.img-70{
    width:100px !important;
    height:100px !important;
  }
  img.rounded-circle{
    border: 4px solid #24695c ;
  }
  i.circle-icon{
    
    background-color: rgba(225, 225, 225, 0.82);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    position:absolute;
    left:80px;top:63px;
    transition: 0.5s;
  }

  i.circle-icon:hover{
    
    background: #24695c  !important;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    position:absolute;
    left:80px;top:63px;
    color:white;
  }